*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #000000;
  font-size: 18px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  margin: 30px 0;
  background: #580058;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 12px 40px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.intro {
  position: relative;
  background: #FAFAFA;
  height: 100%;
  min-height: 600px;
}

.intro__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.intro__content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.intro__wrap {
  height: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro__title {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}

.intro__list {
  margin-bottom: 30px;
  list-style: none;
}

.intro__list li {
  margin-bottom: 10px;
}

.about {
  padding: 50px 0;
  background: -o-radial-gradient(50% 50%, 50% 50%, #FFFFFF 0%, #F4E3FF 100%);
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F4E3FF 100%);
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #580058;
}

.about__img {
  width: 70px;
  height: 70px;
  padding: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #580058;
}

.about__img img {
  width: 100%;
}

.about__text {
  width: 200px;
  padding-left: 10px;
  display: block;
  text-align: left;
}

.about__text h3 {
  display: block;
}

.about__text p {
  display: block;
}

.reviews {
  padding: 50px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#dec5ff), to(#FAF1FF));
  background: -o-linear-gradient(top, #dec5ff 0%, #FAF1FF 100%);
  background: linear-gradient(180deg, #dec5ff 0%, #FAF1FF 100%);
}

.reviews__img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.reviews__img img {
  max-width: 120px;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

.slider {
  width: 100%;
  position: relative;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.slider-item {
  background: #FFFFFF;
  width: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider-item h3 {
  margin-bottom: 20px;
  width: 100%;
  display: block;
  text-align: center;
}

.slider-item p {
  margin-bottom: 20px;
  width: 100%;
  display: block;
  text-align: left;
  font-size: 14px;
}

.slider-buttons{
  text-align: center;
}

.btn-slider{
  background: #580058;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;

  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
}
.btn-slider:disabled{
  background-color: #797979;
}
.btn-prev{
  left: -10px;
}
.btn-next{
  right: -10px;
}

.promo {
  height: 100%;
  padding: 50px 0;
  background: -o-linear-gradient(349.49deg, #FFFFFF 0%, #F7E9FF 100%);
  background: linear-gradient(100.51deg, #FFFFFF 0%, #F7E9FF 100%);
}

.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__col {
  display: block;
  width: 50%;
}

.promo__description {
  display: block;
}

.promo__description h2 {
  margin-bottom: 30px;
}

.promo__description p {
  margin-bottom: 15px;
  font-size: 16px;
}

.promo__picture {
  position: relative;
  margin-bottom: 20px;
}

.promo__picture .overlay {
  position: absolute;
  top: 165px;
  left: 50px;
  width: 110px;
}

.form-page {
  padding: 50px 0;
  position: relative;
}
.form-page::after {
  content: "";
  background-image: url("../img/pills.png");
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.form__timer {
  text-align: center;
  margin-bottom: 40px;
}

.form__timer p {
  margin-bottom: 10px;
}

.form__timer .time {
  font-weight: 700;
  font-size: 32px;
  color: red;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form__col img {
  width: 150px;
  margin-bottom: 10px;
}

.form__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.old__price {
  padding: 10px;
  font-size: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-font-feature-settings: 'pnum' on, 'onum' on;
          font-feature-settings: 'pnum' on, 'onum' on;
  color: #B8B8B8;
}

.new__price {
  padding: 10px;
  font-size: 32px;
  font-weight: 900;
  color: red;
  -webkit-animation: blink1 1s linear infinite;
          animation: blink1 1s linear infinite;
}

@-webkit-keyframes blink1 {
  0% {
    color: red;
  }

  50% {
    color: rgba(255, 0, 0, 0);
  }

  100% {
    color: red;
  }
}

@keyframes blink1 {
  0% {
    color: red;
  }

  50% {
    color: rgba(255, 0, 0, 0);
  }

  100% {
    color: red;
  }
}

.form {
  text-align: center;
}

.form__row {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  max-width: 290px;
  margin: 0 auto;
}

.form__input {
  padding: 15px;
  margin-top: 10px;
  font-size: 20px;
  border: #797979 1px solid;
  outline: none;
}

.form__label {
  padding-left: 15px;
  color: #bdbdbd;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  cursor: text;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:not(:-moz-placeholder-shown) {
  border: #580058 1px solid;
}

.form__input:not(:-ms-input-placeholder) {
  border: #580058 1px solid;
}

.form__input:focus,
.form__input:not(:placeholder-shown) {
  border: #580058 1px solid;
}

.form__input:not(:-moz-placeholder-shown) ~ .form__label {
  padding: 0;
  color: #212121;
  transform: translateY(10px) scale(0.8);
}

.form__input:not(:-ms-input-placeholder) ~ .form__label {
  padding: 0;
  color: #212121;
  -ms-transform: translateY(10px) scale(0.8);
      transform: translateY(10px) scale(0.8);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  padding: 0;
  color: #212121;
  -webkit-transform: translateY(10px) scale(0.8);
      -ms-transform: translateY(10px) scale(0.8);
          transform: translateY(10px) scale(0.8);
}

@media (max-width: 1067px) {
  .promo__picture .promo__picture-doc {
    width: 290px;
  }

  .promo__picture .overlay {
    width: 60px;
    top: 95px;
    left: 30px;
  }
}

@media (max-width: 980px) {
  .about__col {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .intro__col img {
    margin-top: 30px;
    width: 200px;
  }

  .center img {
    width: 150px;
    margin-top: 20px;
  }

  .promo__col {
    width: 100%;
  }
}